@font-face {
    font-family: "title";
    src: url(../storage/fonts/GT-America-Compressed-Regular-Trial.otf);
}

@font-face {
    font-family: "redirecciones";
    src: url(../storage/fonts/PlusJakartaSans[wght].ttf);
}


body{
    background-color: black;
}

.titulo {
    position: relative;
    font-family: "title";
    color: white;
    font-size: 6vw;
    margin-top: 10vh;
    margin-left: 10vw;
}

.objetivos {
    position: relative;
    font-family: "redirecciones";
    color: rgb(168, 25, 25);
}